@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.header{
  min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/img23.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  nav img{
    width: 150px;
  }
  .nav-links{
    flex: 1;
    text-align: right;
  }
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  .nav-links ul li a{
    color: #fff;
    text-decoration: none;
  }
  .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-links ul li:hover::after{
    width: 100%;
  }
h1 {
    text-align: center;
    padding: 35px 0;
    font-size: 40px;
    color: #fff;
}
.container-faq {
    width: 70%;
    max-width: 900px;
    min-width: 700px;
    height: auto;
    margin: 10px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.questions {
    width: 100%;
    height: auto;
    margin: 5px;
}
.visible-pannel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1f1f1;
    border-radius: 10px;
    position: relative;
    z-index: 100;
}
.visible-pannel h2 {
    margin-left: 10px;
    padding: 15px 5px;
    font-size: 25px;
}
.visible-pannel img {
    margin-right: 10px;
    width: 25px;
    cursor: pointer;
}
.toggle-pannel {
    padding: 0px 15px;
    height: 0px;
    opacity: 0;
}
.toggle-pannel h4 {
    font-size: 18px;
    padding-bottom: 10px;
}
.toggle-pannel p {
    line-height: 1.5;
}
p{
    color: #fff;
}
.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/businessman-chooses-emoticon-icons-healthcare-260nw-1918664162.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.contact .content{
  max-width: 800px;
  text-align: center;
}

.contact .content h2{
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.contact .content p{
  font-weight: 300;
  color: #fff;
}


.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contactinfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactinfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactinfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container .contactinfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.container .contactinfo .box .text h3{
  font-weight: 500;
  color: #f44336;
}

.contactform{
  width: 40%;
  padding: 40px;
  background: #fff;
  border-radius: 2%;
}

.contactform h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactform .inputbox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactform .inputbox input,
.contactform .inputbox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactform .inputbox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactform .inputbox input[type="submit"]{
  width: 100px;
  background: #f44336;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

@media (max-width: 991px){
  .contact{
      padding: 50px;
  }
  .container{
      flex-direction: column;
  }
  .container .contactinfo{
      margin-bottom: 40px;
  }
  .container .contactinfo, .contactform{
      width: 100%;
  }

}
.footer{
  margin-top: 5%;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer h4{
  margin-bottom: 25px;
  margin-top: 25px;
  font-weight: 600;
}
.icons {
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}